<footer class="bg-white">
    <div class="mx-auto max-w-11/12 px-6 pt-16 pb-8 sm:pt-24 lg:px-8 lg:pt-32">
      <div class="mt-8 border-t border-gray-900/10 pt-8 md:flex md:items-center md:justify-between">
        <p class="mt-8 text-sm/6 text-gray-600 md:order-1 md:mt-0">&copy; 2024 Your Company, Inc. All rights reserved.</p>
      </div>
    </div>
  </footer>